
<!DOCTYPE html>
<html>
<head>
    <title>Calcular Função</title>
</head>
<body>
    <h1>Calcular Função</h1>
    <form method="post">
        {% csrf_token %}
        <label for="funcao">Digite a função:</label>
        <input type="text" name="funcao" id="funcao">
        <br>
        <label for="a">Valor inicial de "a":</label>
        <input type="text" name="a" id="a">
        <br>
        <label for="b">Valor inicial de "b":</label>
        <input type="text" name="b" id="b">
        <br>
        <button type="submit">Calcular</button>
    </form>
    <h2>Resultado:</h2>
    <table>
        <thead>
            <tr>
                <th>Valor</th>
                <th>Função</th>
            </tr>
        </thead>
        <tbody>
            {% for res in resultado %}
                <tr>
                    <td>{{ res.valor }}</td>
                    <td>{{ res.funcao }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>