<!DOCTYPE html>
<html>
<head>
    <title>Método de Bolzano</title>
</head>
<body>
    <h1>Método de Bolzano</h1>
    <form method="post" action="/met_bolzano/">
        {% csrf_token %}
        <input type="text" name="a" placeholder="Digite o coeficiente 1">
        <input type="text" name="b" placeholder="Digite o coeficiente 2">
        <input type="text" name="c" placeholder="Digite o coeficiente 3">
        <input type="text" name="d" placeholder="Digite o coeficiente 4">
        <input type="text" name="e" placeholder="Digite o coeficiente 5">
        <input type="text" name="f" placeholder="Digite o coeficiente 6">
        <input type="text" name="g" placeholder="Digite o coeficiente 7">
        <input type="text" name="h" placeholder="Digite o coeficiente 8">
        <input type="text" name="i" placeholder="Digite o coeficiente 9">
        <input type="text" name="j" placeholder="Digite o coeficiente 10">
        <br>
        <input type="submit" name="calcular" value="Calcular">
    </form>
    <ul>
        {% for par_x_valores in pares_x_valores_filtrados %}
            <li>Par de valores filtrados: {{ par_x_valores.0 }} e {{ par_x_valores.1 }}</li>
        {% endfor %}
    </ul>
</body>
</html>